<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/reset.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="./assets/style/faq.css">
</head>

<body>
  <header class="header">
    <a href="#" class="menuBtn">
        <i class="fas fa-bars"></i>
    </a>
    <div class="header-content d-flex">
        <h1 class="logo">
            <a href="index.html" alt="logo">SITE NAME</a>
        </h1>
        <nav>
            <ul class="menu d-flex">
                <li class="menu-item"><a href="#">系列鏡框</a></li>
                <li class="menu-item"><a href="#">門市據點</a></li>
                <li class="menu-item"><a href="#">部落格</a></li>
                <li class="menu-item"><a href="faq.html">常見問題</a></li>
            </ul>
        </nav>
    </div>
</header>

  <%- contents %>

  <footer class="footer">
    <div class="footer-content container">
        <div class="footer-top d-flex">
            <ul class="footer-menu d-flex">
                <li><a href="#">首頁</a></li>
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="faq.html">常見問題</a></li>
            </ul>
            <ul class="footer-snslink d-flex">
                <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-fb.svg"
                            alt=""></a></li>
                <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-ig.svg"
                            alt=""></a></li>
                <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-line.svg"
                            alt=""></a></li>
            </ul>
        </div>
        <div class="footer-medium">
            <div class="phone-content">
                <ul class="d-flex">
                    <li class="image-container"><img
                            src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg" alt=""
                            class="phone"></li>
                    <li>
                        <h4>0800-000-000</h4>
                    </li>
                </ul>
                <ul class="d-flex">
                    <li class="image-container">
                        <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg" alt=""
                            class="mail">
                    </li>
                    <li>
                        <h4>glasses@business.com</h4>
                    </li>
                </ul>
            </div>
           
        </div>
        <div class="footor-bottom d-flex">
            <a href="#" class="footor-bottom-left">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="footor-bottom-right d-flex">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/jquery-3.5.0.min.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="./assets/js/fontawesome.js"></script>
</body>

</html>
