.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
*, *::before, *::after{
    box-sizing: border-box;
}
html{
/* 一般瀏覽器預設字體16px,62.5%相當於10px */
    font-size: 62.5%;
}
body{
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif!important;
}
img{
      max-width: 100%;
      height: auto;
      display: block;
}
a{
    color: #fff;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
/* 標題樣式 */
.title-style{
    font-size: 4.8rem;
    line-height: 1.5;
    text-align: center;
    padding-top: 64px;
    color: #650300;
    font-weight: bold;
  }

/* container */
.container{
    max-width: 1140px; 
    margin: 0 auto;
    padding: 0 15px;
  }

  /* d-flex */
.d-flex{
    display: flex;
}
/* ----------header ---------- */
.menuBtn{
    display: none;
    color: #FFF;
}
.header{
    background: #AA0601;
    padding: 40px 88px;
}
.header .header-content{
    justify-content: space-between;
}
.logo{
    width: 80px;
    height: 49px;
    background: url('../images/logo.png') no-repeat;
    /* 使圖片填滿整個容器 */
    background-size: cover; 
    /*超出範圍不換行*/
    text-indent: 100%;
    white-space: nowrap;
    /*隱藏超出範圍的文字*/
    overflow: hidden;
}
.logo a{
    /* a為行內元素，無法指定長寬故設block */
    display: block;
    /* 使連結範圍與圖片一致 */
    width: 100%;
    height: 100%;
}
.menu{
    width: 492px;
    justify-content: space-between;
    /* border: 1px solid #000; */
}
.menu .menu-item a{
    display: inline-block;
    font-size: 2rem;
    padding: 10px;
}


  /* ----------banner ---------- */
  .banner{
    height: 840px;
    background: url("../images/banner.png") no-repeat;
    background-size: cover;
    background-position:center center;
    align-items: center;

    .banner-content{
        color: #650300;
        text-align: right;

        h2{
            font-size: 3.6rem;
            line-height: 1.5;
            font-weight: 500;
        }
        span{
            font-size: 6.4rem;
            line-height: 1.5;
            font-weight: 800;
          }

      }
}

/* ----------about ---------- */
.about{
    background-color: #AA06010D;
    .about-content{
        justify-content: space-between;

        li{
            flex-direction: column;
            align-items: center;
            margin: 40px 0px 80px 0px;
            text-align: center;
        }
        img{
            width: 100px;
            height: 100px;
            margin-bottom: 24px;
        } 
        h4{
            font-size: 2.4rem;
            line-height: 1.5;
            font-weight: bold;
            color: #650300;
            margin-bottom: 8px;
        }
        p{
            width: 208px;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #000;
            text-align: left;
        }
          
    }
  }

  /* ----------classic glasses ---------- */
.classic-fontStyle{
/*全部大寫 */
    text-transform: uppercase;
/*斜體*/
    font-style: italic;
    color: #AA0601;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 1.5;
}

.classic-contentMiddle{
    flex-direction: row-reverse;
}
.classic-contentTop, .classic-contentMiddle, .classic-contentBottom{
    align-items: center;
    margin-bottom: 32px;
}

.classic-content-all{
    padding-top: 60px;
    /*   80-32 */
    padding-bottom: 48px;
    .classic-pic{
        img{
            width: 635px;
        }
    } 
    .classic-title{
        h3{
            padding: 24px;
            align-items: center;
        }
        img{
            margin: 8px;
        }
    } 
}

/* -----------contact------------ */
.contact{
    background: #AA06010D;
    h2{
        color: #000;
        margin-bottom: 24px;
      }
    .contact-content{
        width: 792px;
        margin: 0 auto;
        form{
            text-align: center;
            .form-item{
                text-align: left;

                ::placeholder,input[type="submit"],label{
                    font-family: "Microsoft JhengHei";
                    font-size: 16px;
                    line-height: 24px;
                  }
                  label{
                    font-weight: 800;
                  }
                  input[type="text"], textarea {
                    width: 100%;
                    margin-top: 4px;
                    margin-bottom: 16px;
                    padding: 14px 16px;
                    border: 1px solid #000;
                    background-color: transparent;
                  }
                  textarea{
                    height: 136px;
                  /* 加了以後右下不會出現三角 */
                    resize : none;
                  }
                  input[type="checkbox"] {
                  /*   隱藏原本checkbox */
                    display:none;
                  }
                  input[type="checkbox"] + label:before{
                  /*  Heavy Check Mark */
                      content: "\2714";
                  /*   用font-size去設定勾勾大小 */
                      font-size: 24px;
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      vertical-align: middle;
                      border: 1px solid #000;
                      border-radius: 10%;
                      margin-right: 4px;
                      color: transparent;
                  }
                  input[type="checkbox"]:checked + label:before{
                      color: #AA0601;
                  }
                  input[type="submit"]:hover {
                    background: #650300;
                  }
              }
              .submit{
                padding: 16px 58px;
                background: #AA0601;
                color: #FFF;
                border: 0px;
                margin-top: 42px;
                margin-bottom: 92px
              }
          }
      }
      p{
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 20px;
      }
  }

  /* -----------footer------------ */
.footer{
    background: #AA0601;

    /* footer-top */
  .footer-top{
    justify-content: space-between;
    align-items: center;

    .footer-menu{
        a{
            font-size: 1.6rem;
            line-height: 1.5;
            color: #FFF;
            text-decoration: none;
          }
        li{
            margin: 44px 48px 42px 0;
        }
    }
    .footer-snslink{
        li{
            margin-left: 32px;
          }
    }
  }
  
  /* footer-medium */
  .footer-medium{
    padding-bottom: 8px;

    .phone-content{
        ul{
            font-size: 3.6rem;
            line-height: 1.5;
            color: #FFF;
            margin-bottom: 16px;
            align-items: center;
          }
        img{
            display: block;
            margin: 0 auto;
          }
        .footer-snslink-small{
            display: none;
         }
      }
    
  }

  .image-container{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  
  /* footer-bottom */
  .footor-bottom{
    border-top: 1px solid #FFF;
    justify-content: space-between;
    padding: 27px 0;
  }
  .footor-bottom-right li{
    margin-left: 48px;
  }
  .footor-bottom-left,.footor-bottom-right{
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #FFF;
    text-decoration: none;
  }
 
  
  
  

  
  
