.faq-content h2{
  font-size: 4.8rem;
  line-height: 1.5;
  color: #000;
  font-weight: bold;
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-bottom: 60px;
}
.faq-content h3{
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 36px;
}
.faq-content{
  margin-top: 96px;
  margin-bottom: 128px;
}
.question{
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 16px;
}
.answer{
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 32px;
  padding-left: 95px;
}